.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}

ul{ /*tidying format*/
  padding-left:10px;
  line-height: 30px;
}
li{
  max-width: fit-content; /*limits "hit box" of click event*/
  margin-left:90px;
}

ul button{ /*aligns buttons with corresponding list items, dispite being the subsequent element in <ul>*/
  position: absolute;
  transform: translateY(-25.5px);
}